.body {
  margin: 0;
  padding: 0;
  border: 0;
  
  
}
.header {
  background-image: url("/assets/photo3.jpg");
  background-repeat: no-repeat;
  
  height: 500px;
  background-position: center;
  padding: 15px 20px 15px 50px;
  
  background-size: cover;
}
